body{
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}
table {
    width: 20%;
    height: 20%;
    vertical-align: middle;
}
.profileimg{
    background: url("https://media-exp1.licdn.com/dms/image/C4D03AQGF4oc5GZ15Lg/profile-displayphoto-shrink_400_400/0/1605522975232?e=1671062400&v=beta&t=QIwkbke11Ry1O8NbeZ8wbHFZ-aapo6xdEp7h2TEKjk4"); 
    background-size: cover;
    width: 200px;
    height: 200px;
   justify-content: center;
    align-items: center;
    display: flex;
}
h2{
    vertical-align: bottom;
    text-align: center;
}
img{
    width: 10%;
    height: 10%;
}
.contact{
    background-color: black;
    color: white;
    margin: 0;
    border: 0;
}