body{
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}
table {
    width: 20%;
    height: 20%;
    vertical-align: middle;
    box-shadow: 0 0 15px 0 rgb(81, 75, 75);
    border-collapse: collapse;
}
/*table:hover {
    border: 1px solid gray;
}*/
.profileimg{
    background: url("profile.png"); 
    width: 17vw;
    height: 17vh;
    margin: auto;
}
h2{
    vertical-align: bottom;
    text-align: center;
}
img{
    width: 10%;
    height: 10%;
}
.contact{
    background-color: black;
    color: white;
    margin: 0;
    border: 0;
}
.gray{
    color: gray;
}
.description{
    padding: 0 0 45px 0;
}
